---
layout: default
---

<div class="container">
  <div
    class="row justify-content-center align-items-center pt-5 text-center text-lg-left"
  >
    <div class="col-lg-4">
      <img src="/gentape/assets/tape.jpg" class="img-fluid" />
    </div>
    <div class="col-lg-4">
      <h1>{{ site.title }}</h1>
      <p>
        {{ site.description }}
      </p>
    </div>
  </div>
  <div class="row justify-content-center pt-5">
    <div class="col-lg-8 ">
      <div class="d-flex flex-wrap">
        {% for tape in site.tapes %}
        <a
          href="{{ tape.url }}"
          class="d-flex w-25 align-items-center p-2 text-white"
          style="background: {{ tape.color }}; text-decoration: none;"
        >
          <strong>{{ tape.title }}</strong>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
